body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main h1 {
  font-size: 6em;
}

#main p {
  font-size: 2em;
  font-weight: 550;
}

#main img {
  width: 60px;
  margin-bottom: 20px;
}

#main .btn-lg {
  margin-top: 20px;
  color: #373A59;
  background-color: #50FA7B;
  border: none;
  transition: transform 500ms, box-shadow 500ms, background-color 200ms;
  box-shadow: 3px 3px #2f324d;
}

#main .btn-lg:hover {
    box-shadow: none;
    transform: scale(1.03, 1.03);
}

#main .btn-lg:focus {
    outline: none;
}

#main .btn-lg:active {
    background-color: #4ada6e;
}

.navbar-brand img {
  width: 30px;
  margin-bottom: 9px;
}

#under-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#under-main p {
  font-size: 2.5em;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 10px;
}

#under-main iframe {
    border: 2px solid #6363637c;
    border-radius: 6px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer img {
  width: 16px;
  margin-bottom: 7px;
}

#footer .contribute-link {
    display: flex;
    justify-content: center;
    cursor: pointer;
}